@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); 

body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #b8bec5;
    color: #333;
}

header h2 {
    margin: 3rem;
}

.std-container {
    background-color: #dcdfe2;
    padding: 1rem;
    border-radius: 1rem;
}

nav li{
    margin: 0rem 0.9rem;
}

nav li a{
    color: #333 !important;
}

nav li a:visited{
    color: #888 !important;
}

nav li a:hover{
    color: lightblue !important;
}

#content {
    margin: 0.4rem auto;
}

#content td {
    padding: 0.3rem;
}

